body {
  background-color: #000;
  font-family: 'Fira Sans', sans-serif!Important;
  letter-spacing: 0.4!Important;
}

#index-1 {

}

#index-2 {
  display: none;
  text-align: center;
}

.div-index-2-images {
  float: left; 
  margin-bottom: 35px;
  display: table;
}

.div-form-search {
  float: right; 
  margin-bottom: 15px;
  margin-left: 250px;
}

.index-2-juego-nombre {
  color: white;
  font-size: 14px;
  font-weight: 400;
}

.index-2-juego-nombre:hover {
  color: white;
}

.juegos-images {
  cursor: pointer;
}

/* Opacity #2 */
.hover01 figure {
  display: inline-block;
	background: #07ddff;
}
.hover01 figure img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover01 figure:hover img {
	opacity: .5;
}

.button_edit {
  background-color: #f6bb43;
  padding: 0px 4px 2px 6px;
  border-radius: 4px;
}

.button_delete {
  background-color: #e9573e;
  padding: 0px 6.5px 2px 6.5px;
  border-radius: 4px;
}

.card {
  position: inherit!Important;
}

.card-body {
  background-color: #1a1a1a;
  color: white;
}

.card-text {
  font-weight: 200;
}

.card-index {
  width: 100%;
  margin: 30px 0px 30px 0px;
  border-radius: 3px;
}

.card-footer {
  background-color: #212121;
  border-top: 1px solid white;
}

.div-input-buscar {
  padding-left: 0px;
}

.custom-select {
  background-color: #1a1a1a;
  color: #59686a;
}

.custom-select:focus {
  border-color: white;
  box-shadow: none;
}

.text-muted {
  color: white!Important;
}

.input-titulo {
  font-weight: 400;
}

.input-desarrolladora {
  font-weight: 300;
}

.input-fecha {
  font-weight: 300;
}

.input-descripcion {
  font-weight: 200;
}

.input-file { visibility: hidden; position: absolute;}

.btn-imagen {
  background-color: #711aa7;
  border-right: 0px!Important;
  border-left: 1px solid #6c757d;
  border-radius: 4px 0px 0px 4px;
  padding-top: 10px;
}

.input-upload {
  border-left: 0px!Important;
  height: 42px;
  margin-right: -15px;
}

.index-alert {
  display: table;
  width: 100%;
}

.div-cambiar-imagen {
  display: flex;
  align-items: center;
}

.div-form-imagen {
  display: none;
}

.page-item.disabled .page-link {
  color: white;
  background-color: #212121;
  border: 1px solid white;
}

.page-link {
  color: white;
  background-color: #212121;
  border: 1px solid white;
}

.page-item.active .page-link {
  color: white;
  background-color: #007bff;
  border: 1px solid white;
}

.form-control {
  background-color: #1a1a1a!Important;
  color: #dee2e6;
  border: 1px solid #6c757d;
}

.form-control:focus {
  background-color: #1a1a1a;
  color: #dee2e6;
  border: 1px solid #6c757d;
  outline: 0;
  box-shadow: 0 0 0 1px white;
}

.btn-warning {
  background-color: #f6bb43;
  color: white;
  border: 1px solid #6c757d;

}

.input-title {
  color: white;
}

i {
  color: white;
  font-size: 12px;
}

.icon-check {
  color: white;
  margin-right: 5px;
  font-size: 16px;
}

.icon-error {
  color: white;
  margin-right: 5px;
  font-size: 16px;
}

.div-icons-bars-images {
  float: left;
  margin-top: 10px;
  margin-bottom: 12px;
  margin-left: 5px;
}

.div-icon-images {
  float: right;
  margin-top: -1px;
}

.icon-bars {
  color: #ffc107;
  font-size: 35px;
  cursor: pointer;
}

.icon-images {
  color: #FFFFFF;
  font-size: 35px;
  cursor: pointer;
}

.icon-bars-images {

}

.div-not-found {
  margin-top: 75px;
  margin-bottom: 20px;
  padding: 30px;
  border: 1px solid white;
  border-radius: 3px;
  width: 100%;
  display: table;
  text-align: center;
}

.icon-add {
  margin-top: 5px;
  font-size: 20px;
}

.icon-exclamation {
  font-size: 100px;
  margin-right: 10px;
}

.div-text-not-found {
  margin-bottom: 30px;
}

.text-not-found {
  font-size: 35px;
  color: white;
  margin-right: 10px;
}

.link-not-found {
  color: white;
  font-size: 25px;
  text-decoration: underline;
}

/*MODAL*/
.modal-header {
  background-color: rgb(37, 37, 37);
  border-top-left-radius: calc(0.0rem - 0px);
  border-top-right-radius: calc(0.0rem - 0px);
  color: white;
}

.modal-header-subtitulo {
  background-color: rgb(26, 26, 26);
  border-top-left-radius: calc(0.0rem - 0px);
  border-top-right-radius: calc(0.0rem - 0px);
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

.modal-body-content {
  background-color: rgb(26, 26, 26);
  border-top-left-radius: calc(0.0rem - 0px);
  border-top-right-radius: calc(0.0rem - 0px);
  color: white;
  text-align: left;
  font-size: 14px;
  font-weight: 300;
}

.modal-footer-juego {
  background-color: rgb(26, 26, 26);
  padding-top: 0px;
  border-top: 0px;
}

.modal-close {
  color: white!Important;
  opacity: 1!Important;
}

.JuegoModalNombre {
  font-size: 18px;
}

.JuegoModalDesarrolladora {
  font-size: 14px;
  font-weight: 300;
}

.JuegoModalFecha {
  font-size: 14px;
  font-weight: 400;
}

.modal-button-warning {
  padding-right: 8px;
}

.modal-icon-edit {
  font-size: 15px;
}

.modal-button-danger {
  margin-right: 15px;
}

.modal-icon-trash {
  font-size: 15px;
}
/* Final Modal */

.alert-danger {
  color: white;
  background-color: #db0000;
  border-color: #db0000;
}

.alert-success {
  color: white;
  background-color: #00cc31;
  border-color: #00cc31;
}

.close {
  color: white!Important;
  opacity: 1!Important;
}

.close:hover {
  color: white!Important;
  opacity: 1!Important;
}

#btn-add {
  z-index: 99999;
  position: fixed;
  right: 5%;
  bottom: 50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #01d96b;
  box-shadow: 0 0 5px rgba(0, 0, 0.25);
  color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
}

.footer {
  left: 0; 
  bottom: 0;
  width: 100%;
  background-color: #252525;
  color:  #808080;
  text-align: center;
}

.footer a {
  color: white;
}

label {
  margin-bottom: 1px!Important;
}

@media only screen and (max-width: 1200px) {

  .div-index-2-images {
    max-width: 33%;
  }

}

@media only screen and (max-width: 992px) {

  .div-index-2-images {
    max-width: 50%;
  }

  .div-form-search {
    margin-left: 0px;
  }

}

@media only screen and (max-width: 767px) {

  .div-icons-bars-images {
    margin-bottom: 15px;
  }

  .input-search {
    width: 255px;
  }

  .div-form-search {
    margin-right: -15px!Important;
  }

  .div-index-2-images {
    display: block;
  }

}


@media only screen and (max-width: 575px) {

  .div-form-search {
    margin-right: 0px!Important;
    margin-left: -10px;
  }

}

@media only screen and (max-width: 520px) {

  .input-search {
    width: 100%;
  }

  .div-index-2-images {
    max-width: 100%;
  }

  .div-icons-bars-images {
    margin-left: 8px!Important;
  }

  .juegos-images {
    width: 300px;
    height: 400px;
  }

}

@media only screen and (max-width: 465px) {

  .div-input-buscar-mobile {
    width: 45%;
  }

  .div-select-ord-mobile {
    width: 42%;
  }

  .div-form-search {
    margin-left: 0px;
  }

}

  @media only screen and (max-width: 410px) {

    .div-input-des-fecha {
      display: block;
    }

    .input-des {
      margin-bottom: 15px;
    }
  
}